name: Publish Docker image

on:
  push:
    branches:
      - 'master'

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build Docker Image
        run: docker build -t my-website .
        
      - name: Tag Docker Image
        run: docker tag my-website:latest ${{ secrets.DOCKER_USERNAME }}/my-website:latest
      
      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/my-website:latest

      - name: Run Docker Container
        run: docker run -d -p 80:80 ${{ secrets.DOCKER_USERNAME }}/my-website:latest
